atomicwrites
alembic
attrs
bcrypt
certifi
cffi
chardet
click
colorama
coverage
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
idna
iniconfig
Jinja2
MarkupSafe
packaging
passlib
pluggy
psycopg2
py
pyasn1
pycparser
pydantic
pydantic_settings
pyparsing
pytest
pytest-cov
python-dotenv
python-jose
python-multipart
requests
rsa
six
SQLAlchemy
starlette
toml
typing-extensions
urllib3
uvicorn
mypy
httpx2
aiohttp
psycopg2
pydantic[email]
bcrypt==4.0.1
passlib[bcrypt] 
